<h1>Add a burger</h1>

<% if @errors.present? %>
  <ul>
    <% @errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@restaurant, @burger] do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br/>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :image_url, "Photo" %>
    <%= f.file_field :image_url  %>
  </div>

  <button><%= f.submit "Add Burger" %></button>
<% end %>
