<h1><%= @burger.name %></h1>

<h3><%= @burger.description %></h3>
<h3><%= @burger.price %></h3>
<h3><%= @burger.restaurant.name %></h3>
<h3></h3>
<% if @burger.image_url %>
  <img src="/assets/<%= @burger.image_url %>" />
<% end %>
