  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <h1>Top Rated Burgers!</h1>
    </div>
  </div>
  <div class="row text-center">
    <% @top_three_burgers.each do |burger| %>
    <div class="small-4 columns">
      <p><%= link_to burger.name, burger_path(burger) %></p>
      <a href='<%="burgers/#{burger.id}"%>'>
        <%= image_tag burger.image_url, size:"250x250" %>
      </a>
      Average Rating: <%= burger.average_rating %>
    </div>
    <% end %>
  </div>
  <hr>
  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <h1>Try a Random Burger!</h1>
    </div>
  </div>
  <div class="row text-center">
    <% @random_burgers.each do |burger| %>
    <div class="small-4 columns">
      <p><%= link_to burger.name, burger_path(burger) %></p>
      <a href='<%="burgers/#{burger.id}"%>'>
        <%= image_tag burger.image_url, size:"250x250" %>
      </a>
    </div>
    <% end %>
  </div>
  <hr>
