<%= link_to "Add a photo", edit_user_avatar_path(@user) %>
<h1>Hi there <%= @user.username %>! </h1>
<div>
  <h2>My Burger Submissions</h2>
  <% @user.burgers.each do |burger| %>
  <p><%= link_to burger.name, burger_path(burger) %></p>
  <%=image_tag(burger.image_url) %>
  <% end %>
</div>

<div class="">
  <h2>My Burger Reviews</h2>
  <% @user.reviews.each do |review| %>
    <div class="review_tile">
      <h4>Review for <%= review.burger.name %><h4><br />
      <p><%=review.body%></p>
    </div>
  <% end %>
</div>
