<h1>Add a new review for <%= @burger.name %></h1>

<% if @errors.present? %>
  <ul>
    <% @errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@burger, @review] do |f| %>
  <div class="field">
    <%= f.label :burger_rating, "Rating" %>
      <%= f.radio_button :burger_rating, "5", :checked => true %>
      <%= f.label :burger_rating, "5", class: "radio-buttons" %>
      <%= f.radio_button :burger_rating, "4" %>
      <%= f.label :burger_rating, "4", class: "radio-buttons" %>
      <%= f.radio_button :burger_rating, "3" %>
      <%= f.label :burger_rating, "3", class: "radio-buttons" %>
      <%= f.radio_button :burger_rating, "2" %>
      <%= f.label :burger_rating, "2", class: "radio-buttons" %>
      <%= f.radio_button :burger_rating, "1" %>
      <%= f.label :burger_rating, "1" %>
  </div>

  <div class="field">
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Submit Review" %>
<% end %>
