<h1>Add a new review for <%= @burger.name %></h1>

<% if params[:failed_submit] %>
  <% @review.valid? %>
  <h3>This review was not submitted because:</h3>
  <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>



<%= form_for [@burger, @review] do |f| %>
  <div class="field">
    <%= f.label :burger_rating, "Rating" %><br/>
    <%= f.number_field :burger_rating %>
  </div>

  <div class="field">
    <%= f.label :body %><br/>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "Submit Review" %>
<% end %>
