<!DOCTYPE html>
<html>
  <head>
    <title>925_guys</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <header>
    Sign in
    <%= link_to 'Home', root_path %>
    <%= link_to 'Burgers', burgers_path %>
    <%= link_to 'Restaurants', restaurants_path %>
  </header>
  <body>
    <div id="app">
      <div class="links">
        <%= link_to "Restaurants", restaurants_path %>
        <%= link_to "Burgers", burgers_path %>
      </div>

      <div>
        <% flash.each do |kind, message| %>
          <p><%= message %></p>
        <% end %>
      <div>
      <%= yield %>
    </div>
  </body>
</html>
