<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "925 Guys" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div class="row">
      <div class="links small-5 columns">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Burgers', burgers_path %>
        <%= link_to 'Restaurants', restaurants_path %>
        <div>
          <% if current_user.present? %>
            <% if current_user.admin %>
              <%= link_to "Admin Page", users_path%>
            <%end%>
          <% end %>
        </div>
        <div class="">
          <%= form_tag(searches_path, :method => "get", id: "search-form") do %>
            <%=text_field_tag :search, params[:search], placeholder: "Search burger or restaurants", class: "search" %>
            <%= submit_tag "Search", class: "hidden" %>
          <% end %>
        </div>
      </div>
      <div class="flashy small-4 columns centered-align">

          <% flash.each do |kind, message| %>
          <p><%= message %></p>
          <% end %>
      </div>
      <div class="text-right small-3 columns">
        <% if current_user.present? %>
          <% if current_user.avatar.present? %>
            <%= image_tag(current_user.avatar.url, size: "75x75", class: 'avatar_icon') %>
          <% else %>
            <%= image_tag("fallback/default.jpg", size: "75x75", class: 'avatar_icon') %>
          <% end %>
          <span><%= link_to current_user.username, user_path(current_user) %><span>
          <span><%= link_to "Log Out", destroy_user_session_path, :method => :delete %><span></br>
        <% else %>
          <%= link_to "Log In", new_user_session_path%>
          <%= link_to "Sign Up", new_user_registration_path%>
        <% end %>
      </div>
    </div>
  </header>
  <body>
    <div class="row">
      <div class="small-12 columns columns-center">
        <h1 id="title">Nine to Five Guys</h1>
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
