<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "925 Guys" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div class="row">
      <div class="links small-6 columns">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Burgers', burgers_path %>
        <%= link_to 'Restaurants', restaurants_path %>
      </div>
      <div class="text-right small-6 columns">
        <% if current_user.present? %>
          <span><%=current_user.username %><span>
          <span><%= link_to "Log Out", destroy_user_session_path, :method => :delete %><span></br>
        <% else %>
          <%= link_to "Log In", new_user_session_path%>
          <%= link_to "Sign Up", new_user_registration_path%>
        <% end %>
      </div>
    </div>
  </header>
  <body>
    <div class="row">
      <div class="small-9 columns">
        <div id="app">
          <div>
            <% flash.each do |kind, message| %>
              <p><%= message %></p>
            <% end %>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
