<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <div class="links">
      <%= link_to "Restaurants", restaurants_path %>
      <%= link_to "Burgers", burgers_path %>
      Sign in
    </div>

  </header>
  <body>
    <div id="app">

      <div>
        <% flash.each do |kind, message| %>
          <p><%= message %></p>
        <% end %>
      <div>
      <%= yield %>
    </div>
  </body>
</html>
